html {
 	position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.navbar {
	font-family: 'Special Elite', cursive;
	background-color: white;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle {
	background-color: white;
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  color: black;
}



.header-group {
  position: relative;
  display: inline-block;
}

.header-intro { 
  position: absolute;    
  height: 150%;
  text-align: center;    
  width: 100%;
}

.header-intro:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

h1, h2 {
  display: inline-block;
  color: white; 
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
	font-size: 5.9vw;
}

span {
	font-size: 3.0vw;
}

