/*
*
* sticky footer
*
*/

html {
 	position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/*
*
* navbar styles
*
*/

.navbar {
	font-family: 'Special Elite', cursive;
	background-color: white;
}

.navbar-default .navbar-brand {
	color: black;
  font-size: 25px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: black;
  background-color: #EFF0D1;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle {
	background-color: white;
	border-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #EFF0D1;
}

.links a{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
} 

.navbar-default .navbar-toggle .icon-bar {
  color: black;
}

/*
*
* header styles
*
*/

.header-group {
  position: relative;
  margin-top: 49.5px;
}

.header-intro {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-22%, -50%);
} 

header h1, h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 400;
}

header h1 {
  font-size: 32px;
}

header h2 {
  font-size: 19px;
}

/*
*
* sections styles
*
*/

#things-to-do {
  padding-bottom: 150px;
}

.section {
  padding-top: 50px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-height: 22px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 30px;
  font-size: 25px;
}

.section p, ul>li {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  letter-height: 22px;
}

.amenities-list {
  display: flex;
  justify-content: space-around;
}

/*
*
* panel styles
*
*/

.panel {
  background-color: #B9A394;
  color: black;
  border-radius: 25px;
}

.panel h4 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

.panel label {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.submit-btn {
  background-color: #896978;
  color: white;
  border: none;
}

/*
*
* footer styles
*
*/

footer {
  font-size: 14px;
  color: #5D576B;
  background-color: #839791
}

.fa {
  padding: 5px;
  color: #5D576B;
}

footer p{
  color: #5D576B;
}

/*
    Media Queries
 */

/* TABLET */
@media(min-width:768px) and (max-width:991px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 40px;
  }

  .links a {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

/* DESKTOP & LAPTOP */

@media(min-width:992px) {
  .vertical-align {
      display: flex;
      align-items: center;
    }

  header h1 {
    font-size: 125px;
  }

  header h2 {
    font-size: 60px;
  }

  .links a {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  
  .video-container {
    width: 560px;
    min-height: 316px;
  }

  #things-to-do {
    padding-bottom: 30px;
  }

  footer p {
    margin-bottom: 0px;
  }

}







